/* Responsive for mobile or smaller devices */
@media screen and (max-width: 576px){
    .miama-heading{ 
        font-size: 4rem;
    }

    .btn-primary{
        margin-right: none;
    }
    
    .btn-primary, .btn-secondary{
        padding: 16px 0px;
        width: 160px;
    }

    .banner-section{
        padding: none;
        padding-top: 30px;
    }

    .banner-container{
        max-width: 95vw;
        margin: 0 auto;
    }

    .nav-listing-container{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

    .banner-content-container{
        flex-direction: column;
        gap: 48px;
    }

    .banner-content{
        width: 100%;
    }

    .banner-heading{
        font-size: 2.25rem;
    }

    .banner-button-container{
        justify-content: space-evenly;
    }

    #banner-primary-button-mobile-span{
        display: none;
    }

    .banner-image{
        width: 100%;
    }

    .banner-image img{
        width: 100%;
    }

    .banner-image-workout-box{
        padding: 10px;
        top: 10%;
        right: 0;
    }

    .workout-box-number{
        font-size: 2rem;
    }

    .banner-image-tutorial-box{
        padding: 10px 15px;
        bottom: 40%;
        left: 0;
    }
}